flask == 2.3.2
werkzeug == 0.15.6
flask-login == 0.6.0
flask-wtf == 0.14.2
flask-sqlalchemy == 2.5.1
SQLAlchemy == 1.4.3
flask-migrate == 2.5.2
flask-redis == 0.4.0
rq == 1.1.0
scikit-learn == 0.24.2
pandas == 0.25.1
python-weka-wrapper3 == 0.1.7
urllib3 == 1.26.5
liac-arff == 2.2.1
requests == 2.22.0
future == 0.16.0
whichcraft == 0.4.1
pytest == 5.2.1
selenium == 3.141.0
imbalanced-learn == 0.7.0
itsdangerous == 1.1.0
flask-mail == 0.9.1
email-validator == 1.1.1
MarkupSafe == 1.1.1
Jinja2 == 2.11.3
pycountry >= 22.3.5
geopy >= 2.2.0
WTForms==2.3.3
psutil == 5.7.2
