<div class="control-group">
    {% if data|length >= 1 %}
        <div class="row mt-3">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" id="use_{{ iddex }}" role="button" href="#a" onclick="onClickButton('use',{{ iddex }})">Use</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-secondary btn-block" id="nuse_{{ iddex }}" role="button" href="#a" onclick="onClickButton('nuse', {{ iddex }})">Don't use</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success btn-block" id="target_{{ iddex }}" role="button" href="#a" onclick="onClickButton('target', {{ iddex }})">Target</a>
            </div>
        </div>
        <div class="row d-flex mt-3 align-items-stretch h-100">
            <div class="col-md-12 d-flex align-items-stretch">
                <select class="custom-select sel" id="sel_{{ iddex }}" {% if data|length > 15 %}size="15" {% else %}size="{{ data|length }}"{% endif %} multiple>
                    {% for g in data %}
                        <option id="{{ loop.index0 }}_opt_{{ iddex }}" class="list-group-item {% if loop.last %}list-group-item-success {% else %} list-group-item-primary{% endif %}" value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <script>
        function correctH(){
            if ((window.chrome || (window.Intl && Intl.v8BreakIterator)) && 'CSS' in window) {
                let a = $("#0_opt_{{ iddex }}").height() * (parseInt($("#sel_{{ iddex }}").attr("size")) + 2);
                $("#sel_{{ iddex }}").height(a);
            }
        }
        $(document).ready(function(){
            correctH();
        });

        </script>
    {% endif %}
</div>