<div class="control-group">
    {% if data|length >= 1 %}
    <table class="table table-striped table-hover">
        <thead>
            <tr align="center">
                <td style="min-width:100px"> </td>
                {% for i in data %}
                <th class="" style="min-width:100px">{{ i }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr align="center">
                <th scope="row">Use</th>
                {% for i in data %}
                <td class="column-dataset center-block" style="min-width:100px" data-toggle="tooltip" title="Use or not {{ i }} attribute.">
                    <div class="material-switch" id="col{{ loop.index0 }}_use_div">
                        <input type="checkbox" id="col{{ loop.index0 }}_use" {% if not loop.last %} checked="checked"
                            {% endif %} />
                        <label for="col{{ loop.index0 }}_use" id="col{{ loop.index0 }}_use_label" class="badge-primary"
                            onclick="target_or_use('col{{ loop.index0 }}','use')"></label>
                    </div>
                </td>
                {% endfor %}
            </tr>
            <tr align="center">
                <th scope="row">Target</th>
                {% for i in data %}
                <td class="column-dataset" style="min-width:100px" data-toggle="tooltip" title="Use {{ i }} attribute as target or not.">
                    <div class="material-switch " id="col{{ loop.index0 }}_target_div">
                        <input type="checkbox" id="col{{ loop.index0 }}_target" class="col_target" {% if loop.last %}
                            checked="checked" {% endif %} />
                        <label for="col{{ loop.index0 }}_target" id="col{{ loop.index0 }}_target_label" class="badge-info"
                            onclick="only_one_target('col{{ loop.index0 }}_target');target_or_use('col{{ loop.index0 }}','target')"></label>
                    </div>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>
<script>
    dataset_columns = [{% for i in data %}'{{ i }}'{% if not loop.last %}, {% endif %} {% endfor %}];
</script>