{% extends "base.html" %}

{% block content %}
<!--<link href='{{ url_for("static", filename="css/admin-dash.css")}}' rel="stylesheet">-->
<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

        <div class="row d-flex">
            <div class="col-xl-12 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Experiments</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="database"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3">{{ cards_data.experiments }}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Datasets</h5>
                                        </div>
                        
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="hard-drive"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3">{{ cards_data.datasets }}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Users</h5>
                                        </div>
                        
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="users"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3">{{ cards_data.users }}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Countries</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="map"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3">{{ cards_data.countries }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row d-flex">
            <div class="col-xl-12 col-xxl-7">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Experiments performed in the last 7 days</h5>
                    </div>
                    <div class="card-body py-3">
                        <div class="chart chart-sm">
                            <canvas id="exp_7d_times"></canvas>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-6 col-lg-6 col-xxl-6 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Algorithm Type Usage Distribution</h5>
                    </div>
                    <div class="card-body align-self-center w-100">
                        <div class="chart chart-xs">
                            <canvas id="alg_type_dist"></canvas>
                        </div>
                        <table class="table mb-0">
                            <tbody>
                                {% for name, times in exps_alg_type.items() %}
                                    {% if loop.index | int < 5 %}
                                        <tr>
                                            <td>{{ name }}</td>
                                            <td class="text-end">{{ times }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6 col-xxl-6 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Algorithm Type Time Used</h5>
                    </div>
                    <div class="card-body align-self-center w-100">
                        <div style="text-align:center">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="alg_typ_time_used" value="seconds" checked
                                onclick="preUpdateChart()">
                                <span class="form-check-label">
                                    Seconds
                                </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="alg_typ_time_used" value="minutes"
                                onclick="preUpdateChart()">
                                <span class="form-check-label">
                                    Minutes
                                </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="alg_typ_time_used" value="hours"
                                onclick="preUpdateChart()">
                                <span class="form-check-label">
                                    Hours
                                </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="alg_typ_time_used" value="days"
                                onclick="preUpdateChart()">
                                <span class="form-check-label">
                                    Days
                                </span>
                            </label>
                        </div>
                        <span></span><span></span>
                        <div class="chart align-self-center chart-xl">
                            <canvas id="exps_type_time"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-6 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Desired Use</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="chart chart-xs">
                                <canvas id="desired_use"></canvas>
                            </div>
                            <table class="table mb-0">
                                <tbody>
                                    {% for use in desired_use %}
                                        <tr>
                                            <td>{{ use }}</td>
                                            <td class="text-end">{{ desired_use[use] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-xxl-6 d-flex order-3 order-xxl-2">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Country Distribution</h5>
                    </div>
                    <div class="card-body px-4">
                        <div id="world_map" style="height:350px;"></div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Latest Experiments</h5>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Algorithm type</th>
                                <th class="d-none d-xl-table-cell">Start Date</th>
                                <th class="d-none d-xl-table-cell">End Date</th>
                                <th>Status</th>
                                <th class="d-none d-md-table-cell">User</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exp in experiments %}
                            <tr>
                                <td>{{ exp.name }}</td>
                                <td class="d-none d-xl-table-cell">{{ exp.starttime }}</td>
                                <td class="d-none d-xl-table-cell">{{ exp.endtime }}</td>
                                <td>
                                    {% if exp.state == 0 %}
                                    <span class="badge bg-warning">In progress...</span>
                                    {% elif exp.state == 1 %}
                                    <span class="badge bg-success">Finalized</span>
                                    {% else %}
                                    <span class="badge bg-danger">Error</span>
                                    {% endif %}
                                </td>
                                <td class="d-none d-md-table-cell">{{ exp.user }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">All time datasets run</h5>
                    </div>
                    <div class="card-body align-self-center w-100">
                        <div style="text-align:center">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="dataset_time_times" value="seconds" checked
                                    onclick="preUpdateDatasets()">
                                <span class="form-check-label">
                                    Seconds
                                </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="dataset_time_times" value="minutes"
                                    onclick="preUpdateDatasets()">
                                <span class="form-check-label">
                                    Minutes
                                </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="dataset_time_times" value="hours"
                                    onclick="preUpdateDatasets()">
                                <span class="form-check-label">
                                    Hours
                                </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="dataset_time_times" value="days"
                                    onclick="preUpdateDatasets()">
                                <span class="form-check-label">
                                    Days
                                </span>
                            </label>
                        </div>
                        <span></span><span></span>
                        <div class="chart align-self-center chart-xl">
                            <canvas id="exp_times"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock content %}

{% block js %}


<script>
    const CHART_COLORS = {
        ubu: 'rgb(170,34,60)',
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'            
        };
</script>
<script>
    const weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    const d = new Date();
    let today = weekday[d.getDay()];
    var weekOrder = [];

    document.addEventListener("DOMContentLoaded", function () {
        d3.csv("{{ url_for('static', filename='tmp/exp_7d.csv') }}")
            .then(makeChartExp7d);
        function makeChartExp7d(data){
            var ctx = document.getElementById("exp_7d_times").getContext("2d");
            var gradient = ctx.createLinearGradient(0, 0, 0, 225);
            gradient.addColorStop(0, "rgba(198, 40, 40, 1)");
            gradient.addColorStop(1, "rgba(198, 40, 40, 0)");
            var day = data.map(function (d) { return d.day; });
            var times = data.map(function (d) { return d.times; });
            maxValue = Math.max.apply(null, times);

            daysAfter = [];
            dayFound = false;
            weekday.forEach(element => {
                if (element == today) {
                    dayFound = true;
                } else if (dayFound) {
                    daysAfter.push(element);
                } else {
                    weekOrder.push(element);
                }
            });
            weekOrder = daysAfter.concat(weekOrder, [today])
            
            new Chart(document.getElementById("exp_7d_times"), {
                type: "line",
                data: {
                    labels: weekOrder,
                    datasets: [{
                        label: "Experiments performed",
                        fill: true,
                        backgroundColor: gradient,
                        borderColor: CHART_COLORS.ubu,
                        data: times
                    }]
                },
                options: {
                    responsive: !window.MSInputMethodContext,
                    maintainAspectRatio: false,
                    elements: {
                        line: {
                            cubicInterpolationMode: 'monotone'
                        }
                    },
                    tooltips: {
                        intersect: false
                    },
                    hover: {
                        intersect: true
                    },
                    plugins: {
                        filler: {
                            propagate: false
                        }
                    },
                    scales: {
                        x: {
                            grid: {
                                display: false
                            }
                        },
                        y: {
                            grid: {
                                display: false
                            }
                        }
                    },
                    plugins: {
                        legend: false,
                        datalabels: {
                            anchor: 'end',
                            align: 'top',
                            formatter: Math.round,
                            font: {
                                weight: 'bold',
                                size: 16
                            }
                        }
                    }
                }
            });
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        d3.csv("{{ url_for('static', filename='tmp/exps_alg_type.csv') }}")
            .then(makeUsePie)
        function makeUsePie(data) {
            var type = data.map(function (d) { return d.type; });
            var times = data.map(function (d) { return d.times; });
            new Chart(document.getElementById("alg_type_dist"), {
                type: "pie",
                data: {
                    labels: type,
                    datasets: [{
                        data: times,
                        backgroundColor: Object.values(CHART_COLORS),
                        borderWidth: 5
                    }]
                },
                options: {
                    responsive: !window.MSInputMethodContext,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 0
                }
            });
        }
    });
</script>
<script>
    var chartExpsTypeTime;
    const url = "{{ url_for('static', filename='tmp/exps_type_times.csv') }}";
    document.addEventListener("DOMContentLoaded", function () {
        preChartExpTotalTime();
    });
    
    function preChartExpTotalTime() {
        d3.csv(url).then(makeChartExpTotalTime);
    }
    
    function preUpdateChart() {
        d3.csv(url).then(updateChart);
    }

    function updateChart(data) {
        const time = $("input[type='radio'][name='alg_typ_time_used']:checked").val();
        var type = data.map(function (d) { return d.type; });
        var time_data = data.map(function (d) { return d.seconds; });
        const divisor = getDivisor(time);

        for (var i = 0; i < time_data.length; i++) {
            time_data[i] /= divisor;
        }
        chart = chartExpsTypeTime;
        chart.data.labels = type;
        chart.data.datasets.forEach((dataset) => {
            dataset.data = time_data;
        });
        chart.update();
    }

    function getDivisor(time) {
        var divisor = 1;

        switch (time) {
            case 'seconds':
                break;
            case 'minutes':
                divisor = 60;
                break;
            case 'hours':
                divisor = 3600;
                break;
            case 'days':
                divisor = 86400;
                break;
        }
        return divisor;
    }

    function makeChartExpTotalTime(data) {
        const time = $("input[type='radio'][name='alg_typ_time_used']:checked").val();
        var type = data.map(function (d) { return d.type; });
        var time_data = data.map(function (d) { return d.seconds; });
        const divisor = getDivisor(time);

        for(var i = 0; i < time_data.length; i++){
            time_data[i] /= divisor;
        }

        chartExpsTypeTime = new Chart(document.getElementById("exps_type_time").getContext("2d"), {
            type: "bar",
            data: {
                labels: type,
                datasets: [{
                    label: "Total time",
                    backgroundColor: CHART_COLORS.ubu,
                    borderColor: CHART_COLORS.ubu,
                    hoverBackgroundColor: CHART_COLORS.ubu,
                    hoverBorderColor: CHART_COLORS.ubu,
                    data: time_data,
                    barPercentage: .75,
                    categoryPercentage: .5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        grid: {
                            display: false
                        },
                    },
                    y: {
                        grid: {
                            display: false
                        },
                        callback: function (value, index, ticks) {
                            return '$' + value;
                        }
                    }
                },
                plugins: {
                    legend: false,
                    datalabels: { 
                        anchor: 'end',
                        align: 'top',
                        formatter: Math.round,
                        font: {
                            weight: 'bold',
                            size: 16
                        }
                    }
                }
            }
        });
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        d3.csv("{{ url_for('static', filename='tmp/unique_use.csv') }}")
        .then(makeUsePie)
        function makeUsePie(data){
            var use = data.map(function (d) { return d.use; });
            var times = data.map(function (d) { return d.times; });
            new Chart(document.getElementById("desired_use"), {
                type: "pie",
                data: {
                    labels: use,
                    datasets: [{
                        data: times,
                        backgroundColor: Object.values(CHART_COLORS),
                        borderWidth: 5
                    }]
                },
                options: {
                    responsive: !window.MSInputMethodContext,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 0
                }
            });
        }
    });
</script>
<script>
    var chartDatasetsRun;
    const url1 = "{{ url_for('static', filename='tmp/experiments.csv') }}";
    document.addEventListener("DOMContentLoaded", function () {
        preChartDatasetsRun();
    });

    function preChartDatasetsRun() {
        d3.csv(url1).then(makeChartDatasetsRun);
    }

    function preUpdateDatasets() {
        d3.csv(url1).then(updateChartDatasets);
    }

    function updateChartDatasets(data) {
        const time = $("input[type='radio'][name='dataset_time_times']:checked").val();
        var time_data = data.map(function (d) { return d.seconds; });
        const divisor = getDivisor(time);

        for (var i = 0; i < time_data.length; i++) {
            time_data[i] /= divisor;
        }
        chart = chartDatasetsRun;
        chart.data.datasets.forEach((dataset) => {
            if (dataset.yAxisID == 'y'){
                dataset.data = time_data;
                dataset.label = time.charAt(0).toUpperCase() + time.slice(1) + ' of use';
            }
        });
        chart.update();
    }
    
    function makeChartDatasetsRun(data) {
        var dataset = data.map(function (d) { return d.dataset; });
        var times = data.map(function (d) { return d.times; });
        var seconds = data.map(function (d) { return d.seconds});
        datasetRed = []
        dataset.forEach(element => {
            element = element.replace(/\.[^/.]+$/, '');
            datasetRed.push(element.replace(/[\W_0-9]+/g, ''));
        });
        

        chartDatasetsRun = new Chart(document.getElementById("exp_times").getContext("2d"), {
            type: "bar",
            data: {
                labels: datasetRed,
                datasets: [{
                    label: "Seconds of use",
                    borderColor: CHART_COLORS.blue,
                    backgroundColor: CHART_COLORS.blue,
                    type: 'line',
                    order: 0,
                    data: seconds,
                    yAxisID: 'y',
                }, {
                    label: "Total times used",
                    backgroundColor: CHART_COLORS.ubu,
                    borderColor: CHART_COLORS.ubu,
                    hoverBackgroundColor: CHART_COLORS.ubu,
                    hoverBorderColor: CHART_COLORS.ubu,
                    data: times,
                    barPercentage: .75,
                    categoryPercentage: .5,
                    yAxisID: 'y1',
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                maintainAspectRatio: false,
                scales: {
                    x: {
                        grid: {
                            display: false
                        },
                    },
                    y: {
                        type: 'linear',
                        position: 'right',
                        grid: {
                            display: false
                        }
                    },
                    y1: {
                        type: 'linear',
                        position: 'left',
                        grid: {
                            display: false
                        }
                    }

                },
                plugins: {
                    legend: true,
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        formatter: Math.round,
                        font: {
                            weight: 'bold',
                            size: 16
                        }
                    }
                }
            }
        });
    }

</script>
<script>   
    document.addEventListener("DOMContentLoaded", function () {
        d3.csv("{{ url_for('static', filename='tmp/countries.csv') }}")
            .then(makeMap);
        function makeMap(data) {   
            var markers = [];
            data.forEach(d => {
                markers.push({
                    coords:[d.latitude, d.longitude],
                    name: d.name,
                    user: d.users
                });
            });
            
            var map = new jsVectorMap({
                map: "world",
                selector: "#world_map",
                normalizeFunction: 'polynomial',
                draggable: true,
                zoomButtons: true,
                zoomOnScroll: false,
                zoomOnScrollSpeed: 3,
                zoomMax: 12,
                zoomMin: 1,
                zoomAnimate: true,
                markers: markers,
                markerStyle: {
                    initial: {
                        r: 9,
                        strokeWidth: 7,
                        stokeOpacity: .4,
                        fill: CHART_COLORS.ubu
                    },
                    hover: {
                        fill: CHART_COLORS.ubu,
                        stroke: CHART_COLORS.ubu,
                    }
                },
                onMarkerTooltipShow: function (tooltip,  index) {
                    tooltip.selector.innerHTML = '<b>' + tooltip.text() + '<br>Users: ' + markers[index].user + '</b>';
                }
            });
            window.addEventListener("resize", () => {
                map.updateSize();
            });
        };
        window.addEventListener('afterprint', () => {
            myChart.resize();
        });
    });
</script>
{% endblock js%}