<div class="modal modalizer animate__animated animate__faster" id="alert_modal" tabindex="-1" 
     role="dialog" data-animate-in="slideInDown" data-animate-out="slideOutUp">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alert_modal_label">Modal title</h5>
        <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="alert_modal_body">
      </div>
      <div class="modal-footer">
        <button id="alert_modal_close" type="button" class="btn btn-secondary closemodal">Close</button>
      </div>
    </div>
  </div>
</div>