<div class="modal fade" id="confirm_modal" tabindex="-1" 
     role="dialog" aria-labelledby="confirm_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm_modal_label">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="confirm_modal_body">
      </div>
      <div class="modal-footer">
        <button id="confirm_modal_confirm" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
        <button id="confirm_modal_close" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>