<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename="css/custom.css") }}"> 
  <link rel="stylesheet" href="{{ url_for('static', filename="css/switch.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename="css/radio.css") }}"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>

<body>

  {% block before_anyelse %}
  {% endblock %}

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #A7253B;">
    <div class="rounded float-left">
      <img class="navbar-brand mx-auto" src={{ url_for("static",filename="img/onlyA-32x32.svg") }}>
    </div>
    <a class="navbar-brand" href="{{ url_for('core.index') }}"> UBUMLaaS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('core.index') }}">Home</a>
        <a class="nav-item nav-link" href="{{ url_for('core.info') }}">About</a>
      </div>
      <div class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
        <a class="nav-item nav-link" href="{{ url_for('users.profile') }}">Logged in as {{current_user.username}}</a>
        <a class="nav-item nav-link" href="{{ url_for('experiments.new_experiment') }}">New Experiment</a>
        <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
        {% else %}
        <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
        <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>

  </ul>

  <div class="container">
    {% block content %}

    {% endblock %}
  </div>

  <footer id="footer">
    <div class="main-footer widgets-dark typo-light d-flex">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h5 class="widget-title">Location<span></span></h5>
              <ul class="thumbnail-widget">
                <li><a href="https://www.ubu.es/escuela-politecnica-superior/escuela-politecnica-superior">Escuela politécnica superior</a></li>
                <li>Río Vena Campus</li>
                <li>Avda. Cantabria s/n 09006</li>
                <li>Burgos (Burgos)</li>
                <li>Spain</li>
                <li><i class="material-icons">phone</i>947 25 89 00</li>
                <li><i class="material-icons">email</i><a href="mailto:eps@ubu.es">eps@ubu.es</a></li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Quick Links<span></span></h5>
              <ul class="thumbnail-widget">
                <li>
                  <div class="thumb-content"><a href="http://www.admirable-ubu.es/">ADMIRABLE</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="https://www.ubu.es/">University of Burgos</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="{{ url_for('core.info') }}">About</a></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Register<span></span></h5>
              <h6>Do you need an account?</h6>
              <a class="btn btn-secondary" href="{{ url_for('users.register') }}">Register Now</a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="widget no-box">
              <h5 class="widget-title">Contact Us<span></span></h5>

              <p><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-12">
            <hr/>
          </div>
        </div>
        <div class="row align-items-center" id="logos">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="img-fluid" src={{ url_for("static",filename="img/FEDER.svg") }}>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="img-fluid" src={{ url_for("static",filename="img/MEC.svg") }}>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="img-fluid" src={{ url_for("static",filename="img/JCYL.svg") }}>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="img-fluid" src={{ url_for("static",filename="img/JCYL_impulsa.svg") }}>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>UBUMLaaS. © 2019. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename="js/bootstrap.js") }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script>
  GLOBAL_STYLE = getComputedStyle(document.body);
  </script>
  {% block js %}
  {% endblock %}
</body>

</html>