<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap-reboot.css") }}" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.css") }}" />-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap-grid.css") }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap-append.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/switch.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/radio.css") }}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/spinner.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/buttons.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/custom.css") }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175635481-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-175635481-1');
        gtag('set', {'user_id': '{{ title | user }}'}); // Establezca el ID de usuario mediante el user_id con el que haya iniciado sesión.
        ga('set', 'userId', '{{ title | user }}'); // Establezca el ID de usuario mediante el user_id con el que haya iniciado sesión.
    </script>
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    

    <title>{{ title }}</title>
    {% block css %}{% endblock %}
</head>

<body>

    {% block before_anyelse %}
    {% endblock %}

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: var(--ubu-maroon);">
        <div class="rounded float-left">
            <a href="http://www.admirable-ubu.es/" target="_blank" rel="noopener noreferrer"><img
                    class="navbar-brand mr-3" src={{ url_for("static",filename="img/onlyA-32x32.svg") }}></a>
        </div>
        <a class="navbar-brand" href="{{ url_for('core.index') }}"> UBUMLaaS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if title=="UBUMLaaS" %}active{% endif %}"
                    href="{{ url_for('core.index') }}">Home</a>
                <a class="nav-item nav-link {% if title=="Info" %}active{% endif %}"
                    href="{{ url_for('core.info') }}">About</a>
            </div>
            <div class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link {% if "Profile" in title %}active{% endif %}"
                    href="{{ url_for('users.profile') }}">My launched experiments</a>
                <a class="nav-item nav-link {% if title=="New experiment" %}active{% endif %}"
                    href="{{ url_for('experiments.new_experiment') }}">New Experiment</a>
                <a class="nav-item nav-link " href="{{ url_for('users.logout') }}">Logout</a>
                {% else %}
                <a class="nav-item nav-link {% if title=="Log in" %}active{% endif %}"
                    href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link {% if title=="Register" %}active{% endif %}"
                    href="{{ url_for('users.register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>


    {% block content %}

    {% endblock %}

    {% block footer %}
    <footer id="footer">
        <div class="main-footer widgets-dark typo-light d-flex">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">Location<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li><a target="_blank" rel="noopener noreferrer"
                                        href="https://www.ubu.es/escuela-politecnica-superior/escuela-politecnica-superior">Escuela
                                        politécnica superior</a></li>
                                <li>Río Vena Campus</li>
                                <li>Avda. Cantabria s/n 09006</li>
                                <li>Burgos (Burgos)</li>
                                <li>Spain</li>
                                <li><i class="material-icons">phone</i> <a href="tel:+34947258900">+34 947 25 89 00</a>
                                </li>
                                <li><i class="material-icons">email</i> <a href="mailto:eps@ubu.es">eps@ubu.es</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Quick Links<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content"><a target="_blank" rel="noopener noreferrer"
                                            href="http://www.admirable-ubu.es/">ADMIRABLE</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a target="_blank" rel="noopener noreferrer"
                                            href="https://www.ubu.es/">University of Burgos</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="{{ url_for('core.info') }}">About</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Register<span></span></h5>
                            <h6>Do you need an account?</h6>
                            <a class="btn btn-ubu-maroon" href="{{ url_for('users.register') }}">Register Now</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="widget no-box">
                            <h5 class="widget-title">Contact Us<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content"> <i class="material-icons">email</i> <a
                                            href="mailto:ADMIRABLE_rg@oficina.ubu.es">ADMIRABLE_rg@oficina.ubu.es</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb-content"> <i class="material-icons">phone</i> <a
                                            href="tel:+34947259358">+34 947 25 93 58</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row align-items-center" id="logos">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://ec.europa.eu/regional_policy/es/funding/erdf/">
                            <img class="img-fluid" src={{ url_for("static",filename="img/FEDER.svg") }}>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <a target="_blank" rel="noopener noreferrer"
                            href="http://www.mineco.gob.es/portal/site/mineco/">
                            <img class="img-fluid" src={{ url_for("static",filename="img/MEC.svg") }}>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.jcyl.es/">
                            <img class="img-fluid" src={{ url_for("static",filename="img/JCYL.svg") }}>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://www.educa.jcyl.es/universidad/es/fondos-europeos/fondo-europeo-desarrollo-regional-feder/">
                            <img class="img-fluid" src={{ url_for("static",filename="img/JCYL_impulsa.svg") }}>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>UBUMLaaS. © 2019. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
    {% include "./modals/alert_modal.html" %}
    {% include "./modals/confirm_modal.html" %}
    <script>
        page_information = { version: "1.0.5", mode: { reuse: false, style: "litera" } }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="{{ url_for('static', filename="js/modals.js") }}"></script>
    <script src="{{ url_for('static', filename="js/colors.js") }}"></script>
    <script src="{{ url_for('static', filename="js/utils.js") }}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        GLOBAL_STYLE = getComputedStyle(document.body);
    </script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $('.popover-dismiss').popover({
            trigger: 'focus'
        });
        $('.selectpicker').selectpicker();
        firstClick();
    </script>
    {% block js %}
    {% endblock %}
</body>

</html>