<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename="img/logo.v3.3.svg") }}">
    {% block head %}{% endblock %}
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
        integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.css") }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

   <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap-append.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/switch.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/radio.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/spinner.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/buttons.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/custom.css") }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/admin.css") }}">
    
    <!-- DataTables legacy -->
    <link rel="stylesheet" hred="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
    

    <!-- Our Custom JS -->
    {% include "./modals/alert_modal.html" %}
    {% include "./modals/confirm_modal.html" %}
    <script>
        page_information = { version: "1.0.5", mode: { reuse: false, style: "litera" } }
    </script>
    <script src="{{ url_for('static', filename="js/modals.js") }}"></script>
    <script src="{{ url_for('static', filename="js/colors.js") }}"></script>
    <script src="{{ url_for('static', filename="js/utils.js") }}"></script>
    <script>
        GLOBAL_STYLE = getComputedStyle(document.body);
    </script>

    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/5c2c417d26.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

    <!-- AdminKit -->
    <script src="https://unpkg.com/@adminkit/core@latest/dist/js/app.js"></script>

    <!-- D3.js -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../../static/js/jquery-jvectormap-2.0.5.min.js"></script>
    <link rel="stylesheet" href="../../static/css/jquery-jvectormap-2.0.5.css" type="text/css" media="screen" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

    <!-- ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    {% block css %}{% endblock %}
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        {% if current_user.is_authenticated and current_user.user_type == 0 %}
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3><a href="{{ url_for('core.index') }}">UBUMLaaS</a></h3>
                    User: {{ current_user.username }}<br>
                    Current IP: {{ ip }}
                </div>

                <ul class="list-unstyled components">
                    <li><a href="{{ url_for('admin.administration') }}">
                        <i class="{%if title=="Administration" %}bi bi-clipboard-fill{% else %}bi bi-clipboard{% endif %}"></i>
                        Administration</a>
                    </li>
                    <li><a href="{{ url_for('admin.processing') }}">
                        <i class=" {% if title=="Dashboard" %} bi bi-sliders2 {% else %} bi bi-sliders2-vertical {% endif %}%"></i>
                        Dashboard</a>
                    </li>
                    <li><a href="{{ url_for('admin.admin_users') }}">
                            <i class="{%if title=="Users Administration" %}bi bi-people-fill{% else %}bi bi-people{% endif %}"></i>
                            Users</a>
                    </li>
                    <li><a href="{{ url_for('admin.live_monitor') }}">
                        <i class="{% if title=="Live System Monitor" %}bi bi-speedometer{% else %}bi bi-speedometer2{% endif %}"></i>
                        Live System Monitor</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle"><i class="bi bi-file-earmark-break"></i> Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="{{ url_for('core.index') }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ url_for('users.logout') }}">Log out</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('core.info') }}"><i class="bi bi-person-lines-fill"></i> Contact</a>
                    </li>
                </ul>
            </nav>
        {% endif %}

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    {% if current_user.is_authenticated and current_user.user_type == 0 %}
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    {% endif %}
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav">
                            <li nav-item nav-link {% if title=="Home" %}active{% endif %}>
                                <a class="nav-link" href="{{ url_for('core.index') }}"><i class="fas fa-home"></i> Home</a>
                            </li>
                            <li nav-item nav-link {% if title=="About Us" %}active{% endif %}>
                                <a class="nav-link" href="{{ url_for('core.info') }}"><i class="fas fa-book-open"></i> About Us</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            {% if current_user.is_authenticated %}
                                <li nav-item nav-link>
                                    <a class="nav-link" href="{{ url_for('users.profile') }}"><i class="fa fa-list"></i> Launched Experiments</a>
                                </li>
                                <li nav-item nav-link>
                                    <a class="nav-link" href="{{ url_for('experiments.new_experiment') }}"><i class="fas fa-flask"></i> New Experiment</a>
                                </li>
                                {% if current_user.user_type == 0 %}
                                    <a class="nav-item nav-link {% if title==" Administration" %}active{% endif %}"
                                        href="{{ url_for('admin.administration') }}"><i class="fa-solid fa-jet-fighter"></i> Administration</a>
                                {% endif %}
                                <li nav-item nav-link {% if title=="Log out" %}active{% endif %}>
                                    <a class="nav-link" href="{{ url_for('users.logout') }}"><i class="fa-solid fa-user-minus"></i> Log out</a>
                                </li>
                            {% else %}
                                <a id="login_base_button" class="nav-item nav-link {% if title==" Log in" %}active{% endif %}" href="{{ url_for('users.login') }}"><i class="fa-solid fa-street-view"></i> Log In</a>
                                <a id="register_base_button" class="nav-item nav-link {% if title==" Register" %}active{% endif %}" href="{{ url_for('users.register') }}"><i class="fa-solid fa-user-plus"></i> Register</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content %}

            {% endblock %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $('.popover-dismiss').popover({
            trigger: 'focus'
        });
        $('.selectpicker').selectpicker();
        firstClick();
    </script>
    {% block js %}
    {% endblock %}
</body>

{% if not current_user.is_authenticated %}
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<footer id="footer">
    <div class="main-footer widgets-dark typo-light d-flex">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Location<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li><a target="_blank" rel="noopener noreferrer"
                                    href="https://www.ubu.es/escuela-politecnica-superior/escuela-politecnica-superior">Escuela
                                    politécnica superior</a></li>
                            <li>Río Vena Campus</li>
                            <li>Avda. Cantabria s/n 09006</li>
                            <li>Burgos (Burgos)</li>
                            <li>Spain</li>
                            <li><i class="fa-solid fa-phone"></i> <a href="tel:+34947258900">+34 947 25 89 00</a>
                            </li>
                            <li><i class="fa-solid fa-at"></i> <a href="mailto:eps@ubu.es">eps@ubu.es</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a target="_blank" rel="noopener noreferrer"
                                        href="http://www.admirable-ubu.es/">ADMIRABLE</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a target="_blank" rel="noopener noreferrer"
                                        href="https://www.ubu.es/">University of Burgos</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="{{ url_for('core.info') }}">About</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Register<span></span></h5>
                        <h6>Do you need an account?</h6>
                        <a class="btn btn-ubu-maroon" href="{{ url_for('users.register') }}">Register Now</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"> <i class="fa-solid fa-at"></i> <a
                                        href="mailto:ADMIRABLE_rg@oficina.ubu.es">ADMIRABLE_rg@oficina.ubu.es</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content"> <i class="fa-solid fa-phone"></i> <a
                                        href="tel:+34947259358">+34 947 25 93 58</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row align-items-center" id="logos">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://ec.europa.eu/regional_policy/es/funding/erdf/">
                        <img class="img-fluid" src={{ url_for("static",filename="img/FEDER.svg" ) }}>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a target="_blank" rel="noopener noreferrer" href="http://www.mineco.gob.es/portal/site/mineco/">
                        <img class="img-fluid" src={{ url_for("static",filename="img/MEC.svg" ) }}>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.jcyl.es/">
                        <img class="img-fluid" src={{ url_for("static",filename="img/JCYL.svg" ) }}>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://www.educa.jcyl.es/universidad/es/fondos-europeos/fondo-europeo-desarrollo-regional-feder/">
                        <img class="img-fluid" src={{ url_for("static",filename="img/JCYL_impulsa.svg" ) }}>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>UBUMLaaS. ©
                        <script>document.write(new Date().getFullYear());</script>. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endif %}

</html>