{% extends "base.html" %}
{% block content %}


<div class="container">
  <div class="jumbotron">
    <h1>Test</h1>
    <p>Welcome UBUMLaaS</p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur exercitationem officiis
      minus dolorem reiciendis laborum explicabo! Harum at maiores debitis ex deserunt excepturi nesciunt odio officiis
      temporibus ab! A, ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, est tempore aliquid
      repellendus quam iure aperiam. Necessitatibus explicabo, pariatur unde, ducimus perferendis minima nemo labore
      ratione laborum at nihil voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima illo quidem
      tempore deserunt aut in. Unde harum, aspernatur id nihil quibusdam eius neque modi minus sequi quod! Nulla, esse
      minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima illum quod vel consequuntur ratione
      ullam cumque. Dolorem ut at id labore pariatur necessitatibus provident laborum, natus voluptate et dolore.</p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur exercitationem officiis
      minus dolorem reiciendis laborum explicabo! Harum at maiores debitis ex deserunt excepturi nesciunt odio officiis
      temporibus ab! A, ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, est tempore aliquid
      repellendus quam iure aperiam. Necessitatibus explicabo, pariatur unde, ducimus perferendis minima nemo labore
      ratione laborum at nihil voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima illo quidem
      tempore deserunt aut in. Unde harum, aspernatur id nihil quibusdam eius neque modi minus sequi quod! Nulla, esse
      minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima illum quod vel consequuntur ratione
      ullam cumque. Dolorem ut at id labore pariatur necessitatibus provident laborum, natus voluptate et dolore.</p>
  </div>

  <!--Carousel Wrapper-->
  <div id="carousel-algorithms" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-algorithms" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-algorithms" data-slide-to="1"></li>
      <li data-target="#carousel-algorithms" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <a href="#">
          <div class="view">
            <img class="d-block w-100" src="static/img/markus-spiske-466ENaLuhLY-unsplash.jpg" alt="First slide">
            <div class="mask flex-center rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Algoritmo1</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima labore quis sint commodi iure adipisci
              id eius beatae. Provident temporibus veniam animi dolorum, libero facere nobis repellat numquam
              perspiciatis recusandae!</p>
          </div>
      </div>
      <div class="carousel-item">
        <a href="#">
          <div class="view">
            <img class="d-block w-100" src="static/img/pietro-jeng-n6B49lTx7NM-unsplash.jpg" alt="Second slide">
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Algoritmo2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, ab hic doloribus, necessitatibus
              consequuntur minus deserunt, esse consequatur ut harum perspiciatis officiis quia? Delectus quod repellat
              placeat odio iste facilis?</p>
          </div>
      </div>
      <div class="carousel-item">
        <a href="#">
          <div class="view">
            <img class="d-block w-100" src="static/img/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg" alt="Third slide">
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Algoritmo3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dolor ipsum repellendus perspiciatis,
              pariatur autem ex neque ratione provident nesciunt animi quisquam exercitationem quas aut! Possimus ipsam
              aliquam praesentium reprehenderit!</p>
          </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-algorithms" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-algorithms" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->


</div>

{% endblock %}