{% extends "base.html" %}
{% block css %}
<style>
    html, body {
        height: 100%;
    }      
    .index {
        color: white;
        min-height: 87.5%;
    }
    .index_background{
        background-color: rgba(var(--ubu-maroon-red), var(--ubu-maroon-green), var(--ubu-maroon-blue), 0.75); /*#ca7c89;*/
    }
    .blockquote-footer{
        color: rgba(255,255,255,0.6);
    }
    footer .main-footer{
        margin-top: 0px;
    }
    #index-right{
        color: white !important;
    }
    #index-left{
        color: var(--ubu-maroon);
    }
    #index-left cite{
        color: var(--ubu-maroon);
        opacity: 0.6;
        float: right;
    }
</style>
{% endblock %}
{% block content %}

<div class="container-fluid index d-flex align-items-stretch p-0" style="z-index: 999;">
    <div class="container-fluid index d-flex align-items-stretch p-0">
        <div class="row container-fluid p-0 m-0">        
            <div class="col-md-6 col-12 pt-3 d-flex align-items-center" id="index-left">
                <div class="container">
                    <div class="col-md-9 col-sm-12">
                        <blockquote class="blockquote text-center mt-2">
                            <p class="mb-0"><q>In God we trust, all others must bring data</q></p>
                            <footer class="blockquote-footer"><cite title="W. Edwards Deming">W. Edwards Deming</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 index_background pt-3 d-flex align-items-center" id="index-right">
                <div class="container">
                    <div class="col-12">
                        <h3 class="text-center text-monospace font-weight-bold">Welcome to UBUMLaaS</h3>
                    </div>                
                    <div class="col-12">
                        <div class="container">
                        {% if current_user.is_authenticated %}
                            <div class="row">
                                <div class="col-md-8 offset-md-2 mb-3">
                                    <a class="mt-3 btn btn-ubu-maroon font-weight-bold text-monospace text-uppercase btn-lg btn-block" href="{{ url_for('experiments.new_experiment') }}">Create a new experiment</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-8 offset-md-2 mb-3">
                                    <a class="mt-3 btn btn-ubu-maroon font-weight-bold text-monospace text-uppercase btn-lg btn-block" href="{{ url_for('users.register') }}">Register</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 offset-md-2 mb-3">
                                    <a class="mt-3 btn btn-outline-ubu-maroon font-weight-bold text-monospace text-uppercase btn-lg btn-block" href="{{ url_for('users.login') }}" style="color: white;">Login</a>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="container-fluid index d-md-flex align-items-stretch p-0 position-fixed d-sm-none" style="z-index: -100;">
        <div class="container-fluid d-flex justify-content-center" style="min-height: fit-content;">
            <img src="{{ url_for("static", filename="img/mano-robotica.svg")}}" class="pt-md-5 h-90"  />
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<div class="footer-copyright fixed-bottom">
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
            <p>UBUMLaaS. © 2019. All rights reserved.</p>
        </div>
        </div>
    </div>
</div>
{% endblock %}