{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h3 class="text-center ">About ADMIRABLE</h3>
  <div class="col-md-10 offset-md-1">
    <p class="text-justify">
      The ADMIRABLE — Advanced Data MIning Research And (Business intelligence | Bioinformatics | Big data) LEarning —
      research group main aim is the development of new ensemble algorithms and the application of data mining, data
      visualization and pattern matching techniques to diverse fields as bioinformatics, time series classification and
      high dimensional data analysis.
    </p>
    <p class="text-justify">
      Among the main achievements of the researchers of the group is the development of several new ensemble
      construction
      algorithms: Rotation Forest, Disturbing Neighbours, Nonlinear Boosting Projections, Random Balance, …, that have
      aroused the interest of the data mining community.
    </p>
    <p class="text-justify">
      Its members are in close relationship with research groups of other universities, currently collaborating with
      groups
      from the universities of Córdoba and Valladolid. The researchers of the group have international connections too.
      They
      have done research works while visiting other universities such as Stockholm University in Sweden, University of
      Gales
      and West Scotland University in United Kingdom, and Tsinghua University in China.
    </p>
    <p class="text-justify">
      Its research interests are among others: Artificial Intelligence, Data Mining, Multi-Dimensional Data
      Visualization,
      Ensemble Construction, Bioinformatics, Regressors Ensembles, Instance Selection, Feature Selection, Decision
      Trees.
    </p>
    <p class="text-justify">
      The group is recognized by the regional government of Castile and Leon as a Consolidated Research Unit.</p>
    </p>
  </div>
</div>

{% endblock %}