{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h3 class="text-center">Task Launcher Demo</h3>
  <div class="container">
      <div class="row">
          <input value="" placeholder="Name" id="name" name="name" type="text" class="col-md-3">
          <input value="1" min="1" id="time" name="time" type="number" class="col-md-3">
          <button class="btn-primary btn col-md-3" id="btn-launch">Launch</button>
          <button class="btn-danger btn col-md-3" id="btn-stop">Stop</button>          
      </div>
  </div>
</div>

{% endblock %}

{% block js %}
    <script>
        //Functions
        function name_validator(){
            var block = $("#name");
            if (block.val() === ""){
                alert("Name not empty");
                return false;
            }
            return true;
        }
    </script>

    <script>
        $("document").ready(
            function(){
                $("#btn-launch").click(function(){
                    if(name_validator()){
                        $.ajax({
                            url: '{{ url_for("core.ajax_tasks") }}',
                            type: 'POST',
                            contentType: "application/json",
                            data: '{ "op": "start", "proc": "'+$("#name").val()+'", "time": "'+$("#time").val()+'"}',
                            success: function(result) {
                                alert("Todo bien");
                            },
                            error: function(result) {
                                alert("Todo mal");
                            }
                        });
                    }
                });

                $("#btn-stop").click(function(){
                    if(name_validator()){
                        $.ajax({
                            url: '{{ url_for("core.ajax_tasks") }}',
                            type: 'POST',
                            contentType: "application/json",
                            data: '{ "op": "stop", "proc": "'+$("#name").val()+'"}',
                            success: function(result) {
                                alert("Todo bien");
                            },
                            error: function(result) {
                                alert("Todo mal");
                            }
                        });
                    }
                });
            }
        );
    </script>

{% endblock %}

