{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <fieldset>
            <form class="form-horizontal" method="POST">
                <h3 class="text-center">Login</h3>
                {{form.hidden_tag()}}
                {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="control-group">
                    {{form.email.label(class="control")}}
                    {{form.email(class="form-control")}}<br>
                </div>
                <div class="control-group">
                    {{form.password.label(class="form-group")}}
                    {{form.password(class="form-control")}}
                </div>
                <div class="control-group">
                    <a class="font-weight-light" href="{{ url_for("users.reset") }}">Forgot your password?</a>
                </div>
                <div class="control-group">
                    <br>{{form.submit(class="btn btn-primary")}}
                </div>
            </form>
        </fieldset>
    </div>
</div>
{% endblock %}