{% extends "base.html" %}
{% block content %}
{% if current_user %}
<div class="container">
  <form class="form-group" enctype="multipart/form-data" method="POST">
    {{ form.hidden_tag() }}
    <h3 class="text-center">Upload Dataset</h3>
    <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {{ form.name(class="form-control form-control-lg ") }}
    </div>
    <div class="form-group">
      {{ form.dataset.label(class="form-control-label") }}
      {{ form.dataset() }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
  <div>
    {% if data %}
    {{data | safe}}
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock content %}