{% extends "base.html" %}

{% block before_anyelse %}

<div id="loader-div" style="display: none">
        <div id="loader">
                <div class="lds-spinner center"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
</div>

{% endblock %}

{% block content %}
<main class="d-flex w-100">
        <div class="container flex-column">
                <div class="row row-flex">
                        <div class="container">
                                <div class="row">
                                        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                                                <div class="d-table-cell align-middle">
                                                        <div class="text-center mt-4">
                                                                <h1 class="h2 font-weight-bold">Predict</h1>
                                                        </div>
                                                        <div class="card">
                                                                <div class="card-body">
                                                                        <div class="row" id="updata">
                                                                                <div class="col-xl-12">
                                                                                        <form class="mt-4 form-horizontal" id="form_pred">
                                                                                                {{ form_pr.hidden_tag() }}
                                                                                                <div class="form-group custom-file">
                                                                                                        {{ form_pr.dataset(class="custom-file-input") }}
                                                                                                        {{ form_pr.dataset.label(class="custom-file-label",id="datasetLabel") }}
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                        <button class="btn btn-secondary btn-block" id="uploadDataset">Upload</button>
                                                                                                </div>
                                                                                        </form>
                                                                                </div>
                                                                                <div class="col-xl-12 center">
                                                                                        <div id="show_dataset" class="col-12 form-group table-responsive">
                                                                                                {% include 'blocks/show_dataset.html' %}
                                                                                        </div>
                                                                                </div>
                                                                                <div class="col-xl-6 center">
                                                                                        <form class="form-horizontal" id="submit_completed_experiment">
                                                                                                {{ form_pr.hidden_tag() }}
                                                                                                <div class="form-group">
                                                                                                        <input type="submit" class="btn btn-primary btn-block btn-lg mt-4"
                                                                                                                value="Predict" />
                                                                                                </div>
                                                                                        </form>
                                                                                </div>
                                                                        </div>
                                                                        
                                                                        <div class="container" id="div_res" style="display: none">
                                                                                <div class="col-12 center">
                                                                                        <div id="show_result" class="col-12 form-group table-responsive">
                                                                                                {% include 'blocks/predict_result.html' %}
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</main>
{% endblock %}
{% block js %}
<script>
        flag=false;
        $("form#form_pred").submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this)
                $.ajax({
                url: '{{ url_for("experiments.add_predict_dataset",id=id) }}',
                type: 'POST',
                contentType: "multipart/form-data",
                data: formData,
                success: function (result) {
                        $("#show_dataset").html(result);
                        update_datasets();
                },
                error: function (result) {
                        launch_warning_modal("Upload failed", "The dataset upload failed, try again later or contact with the administratior.")
                },
                cache: false,
                contentType: false,
                processData: false
                });
        });

        /**
          TODO: are this functions used?
         */
        function update_datasets() {
                $.ajax({
                        url: '{{ url_for("experiments.update_dataset_list") }}',
                        type: 'POST',
                        success: function (result) {
                                $("#select_dataset").html(result);
                                flag=true;
                        }
                });
        }

        $("#dataset").change(function(){
            var filename =  $("#dataset").val().replace(/C:\\fakepath\\/i, '')
            $("#datasetLabel").text(filename);
        });

        $("form#submit_completed_experiment").submit(function (e) {
                if(!flag){
                        launch_danger_modal("None dataset uploaded", "You must upload a dataset.")
                        return false;
                }else{
                        e.preventDefault();
                        //TODO: Verify all
                        var exp= {{ id }};
                        var name = $("#dataset").val().replace(/C:\\fakepath\\/i, '')
                        $.ajax({
                        url: '{{ url_for("experiments.start_predict") }}',
                        type: 'POST',
                        contentType: 'application/x-www-form-urlencoded',
                        data: "exp_id="+exp+"&filename="+name,
                        success: function (result) {
                                $("#loader-div").toggle();
                                $("#updata").toggle();
                                $("#div_res").toggle();
                                $("#div_res").html(result);
                        },
                        error: function (result) {
                                launch_danger_modal("Prediction error", "Check if your dataset has the same columns which you used in the training.", window.location.reload.bind(window.location))
                                delete_file();
                        }
                        });
                        $("#loader-div").toggle();
                }
        });

        function delete_file(){
                $.ajax({
                        url:"{{ url_for("experiments.delete_file") }}",
                        type: 'DELETE'
                });
        }
</script>
{% endblock %}