{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">User Info</h3>
                <div class="container">
                    <div class="row">
                        <p class="col-md-3 font-weight-bold">Username</p>
                        <p class="col-md-9">{{ user.username }} </p>
                    </div>
                    <div class="row">
                            <p class="col-md-3 font-weight-bold">Mail</p>
                            <p class="col-md-9">{{ user.email }} </p>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Datasets</h3>
                <table class="table table-striped" id="dataset_list">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in datasets %}
                        <tr>
                            <td scope="col">{{ loop.index }}</td>
                            <td scope="col">{{ d }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Experiments</h3>
                <table id="exper" class="table table-striped table-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Algorithm</th>
                            <th scope="col">Dataset</th>
                            <th scope="col">Init Date</th>
                            <th scope="col">Finish Date</th>
                            <th scope="col">State</th>
                            <th scope="col" class="no-sort">View Result</th>
                            <th scope="col" class="no-sort">Reuse experiment</th>
                            <th scope="col" class="no-sort">Delete experiment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in experiments %}
                        <tr class="align-middle">
                            <td scope="col">{{ e.id }}</td>
                            <td scope="col">{{ e.web_name() }}</td>
                            <td scope="col">{{ e.data }}</td>
                            <td scope="col">{{ e.starttime }}</td>
                            <td scope="col">
                                {% if e.endtime is not none %}
                                    {{ e.endtime }}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td scope="col" align="center">
                                <div class="square rounded-circle
                                {% if e.state == 0 %}
                                    bg-warning
                                {% elif e.state == 1 %}
                                    bg-success
                                {% elif e.state == 2 %}
                                    bg-danger
                                {% endif %}
                                ">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-lg btn-info text-uppercase font-weight-bold" data-toggle="tooltip" data-placement="top" title="See configuration and results." href="{{ url_for("experiments.result_experiment",id=e.id) }}">See</a>
                            </td>
                            <td>
                                <a class="btn btn-lg btn-warning text-uppercase font-weight-bold" data-toggle="tooltip" data-placement="top" title="Create a new experiment with this configuration." href="{{ url_for("experiments.new_experiment", exp=e.id) }}">Reuse</a>
                            </td>
                            <td>
                                <a class="btn btn-lg btn-danger text-uppercase font-weight-bold" data-toggle="tooltip" data-placement="top" title="Delete this experiment, its results and the model generated" href="javascript:delete_experiment({{e.id}})">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
$(document).ready(function() {
    $('#exper').DataTable( {
        "order": [[ 0, "desc" ]],
        "columnDefs": [ {
          "targets": 'no-sort',
          "orderable": false,
    } ]
    } );

    $('#dataset_list').DataTable( {
        "lengthMenu": [5, 10, 15],
        "pageLength": 5
    } );
} );

function delete_experiment(id){
    launch_confirm_danger_modal("Delete experiment", "Are you sure to delete experiment?", confirm_delete_experiment, id);
}
function confirm_delete_experiment(id){
    $.ajax({
    url: '{{url_for("experiments.remove_experiment")}}',
    type: 'DELETE',
    contentType: 'text/plain; charset=utf-8',
    data: id.toString(),
    success: function(result) {
        location.reload()
    },
    error: function (result) {
            launch_danger_modal("Delete Failed", "Fail when delete the experiment")
            }
});
}
</script>12

{% endblock js %}

