:root {
    --footer-color:#AAA;
    --ubu-maroon:#aa223c;
    --success-even: rgb(var(--success-red),var(--success-green),var(--success-blue));
    --success-odd: rgb(var(--success-red),calc(var(--success-green)/1.051428571),calc(var(--success-blue)/1.054054054));

    --danger-even: rgb(var(--danger-red),var(--danger-green),var(--danger-blue));
    --danger-odd: rgb(calc(var(--danger-red)/1.053398058),calc(var(--danger-green)/1.050632911),calc(var(--danger-blue)/1.053333333));

}

body {
    font-family: Helvetica, Arial, Sans-Serif;
    background: #fafafa;
}

p {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.py-3{
    padding-bottom:1rem!important;
    padding-top:1rem!important
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.d-flex{
    display:flex!important
}
.stat{
    align-items:center;
    background:#c25c6c;
    border-radius:50%;
    display:flex;
    height:40px;
    justify-content:center;
    width:40px
}
.stat svg{
    stroke-width:1.5;
    color:#8b0000!important;
    height:18px;
    width:18px
}

.text-primary{
    --bs-text-opacity:1;
    color:black!important
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #aa223c;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #aa223c;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #aa223c;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #aa223c;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #aa223c;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.card-title {
    background-color: #fff !important;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
.mt-0{margin-top:0!important}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ---------------------------------------------------
    LOADING
----------------------------------------------------- */
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}


.loading-container { margin: 40px auto }

.loading {
    border: 2px solid transparent;
    border-color: transparent #aa223c transparent #aa223c;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #aa223c;
    font-family: "Helvetica Neue, "Helvetica", ""arial";
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}


/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */
.card{
    word-wrap:break-word;
    background-clip:border-box;
    background-color:#fff;
    border:0 solid transparent;
    border-radius:.25rem;
    display:flex;
    flex-direction:column;
    min-width:0;
    position:relative
}
.card>hr{
    margin-left:0;
    margin-right:0
}
.card>.list-group{
    border-bottom:inherit;
    border-top:inherit
}
.card>.list-group:first-child{
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;
    border-top-width:0
}
.card>.list-group:last-child{
    border-bottom-left-radius:.25rem;
    border-bottom-right-radius:.25rem;
    border-bottom-width:0
}
.card>.card-header+.list-group,.card>.list-group+.card-footer{
    border-top:0
}
.card-body{
    flex:1 1 auto;
    padding:1.25rem
}
.card-title{
    margin-bottom:.5rem
}
.card-subtitle{
    margin-top:-.25rem
}
.card-subtitle,.card-text:last-child{
    margin-bottom:0
}
.card-link:hover{
    text-decoration:none
}
.card-link+.card-link{
    margin-left:1.25rem
}
.card-header{
    background-color:#fff;
    border-bottom:0 solid transparent;
    margin-bottom:0;
    padding:1rem 1.25rem
}
.card-header:first-child{
    border-radius:.25rem .25rem 0 0
}
.card-footer{
    background-color:#fff;
    border-top:0 solid transparent;
    padding:1rem 1.25rem
}
.card-footer:last-child{
    border-radius:0 0 .25rem .25rem
}
.card-header-tabs{
    border-bottom:0;
    margin-bottom:-1rem;
    margin-left:-.625rem;
    margin-right:-.625rem
}
.card-header-tabs .nav-link.active{
    background-color:#fff;
    border-bottom-color:#fff
}
.card-header-pills{
    margin-left:-.625rem;
    margin-right:-.625rem
}
.card-img-overlay{
    border-radius:.25rem;
    bottom:0;
    left:0;
    padding:1rem;
    position:absolute;
    right:0;
    top:0
}
.card-img,.card-img-bottom,.card-img-top{
    width:100%
}
.card-img,.card-img-top{
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem
}
.card-img,.card-img-bottom{
    border-bottom-left-radius:.25rem;
    border-bottom-right-radius:.25rem
}
.card-group>.card{
    margin-bottom:12px
}

.card{
    box-shadow:0 0 .875rem 0 rgba(33,37,41,.05);
    margin-bottom:24px
}
.card-header{
    border-bottom-width:1px
}
.card-title{
    color:#939ba2;
    font-size:.925rem;
    font-weight:600
}
.card-subtitle{
    font-weight:400
}
.card-table{
    margin-bottom:0
}
.card-table tr td:first-child,.card-table tr th:first-child{
    padding-left:1.25rem
}
.card-table tr td:last-child,.card-table tr th:last-child{
    padding-right:1.25rem
}
.card-img,.card-img-bottom,.card-img-top{
    height:auto;
    max-width:100%
}
@media (-ms-high-contrast:none){
    .card-img,.card-img-bottom,.card-img-top{
        height:100%
    }
}

/* ---------------------------------------------------
    CHARTS
----------------------------------------------------- */
.chart{
    margin:auto;
    min-height:300px;
    position:relative;
    width:100%
}
.chart-xs{
    min-height:200px
}
.chart-sm{
    min-height:252px
}
.chart-lg{
    min-height:350px
}
.chart-xl{
    min-height:500px
}
.chart canvas{
    max-width:100%
}

/* ---------------------------------------------------
    jsVectorMap
----------------------------------------------------- */

svg{
    touch-action:none
}
.jvm-zoomin,.jvm-zoomout,image,text{
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none
}
.jvm-container{
    height:100%;
    overflow:hidden;
    position:relative;
    touch-action:none;
    width:100%
}
.jvm-tooltip{
    background-color:var(--ubu-maroon);
    box-shadow:1px 2px 12px rgba(0,0,0,.2);
    display:none;
    font-family:sans-serif,Verdana;
    font-size:smaller;
    padding:3px 5px;
    white-space:nowrap
}
.jvm-tooltip,.jvm-zoom-btn{
    border-radius:3px;
    color:#fff;
    position:absolute
}
.jvm-zoom-btn{
    background-color:#292929;
    box-sizing:border-box;
    cursor:pointer;
    height:15px;
    left:10px;
    line-height:10px;
    padding:3px;
    width:15px
}
.jvm-zoom-btn.jvm-zoomout{
    top:30px
}
.jvm-zoom-btn.jvm-zoomin{
    top:10px
}
.jvm-series-container{
    position:absolute;
    right:15px
}
.jvm-series-container.jvm-series-h{
    bottom:15px
}
.jvm-series-container.jvm-series-v{
    top:15px
}
.jvm-series-container .jvm-legend{
    background-color:#fff;
    border:1px solid #e5e7eb;
    border-radius:.25rem;
    box-shadow:0 1px 2px 0 rgba(0,0,0,.05);
    float:left;
    margin-left:.75rem;
    padding:.6rem
}
.jvm-series-container .jvm-legend .jvm-legend-title{
    border-bottom:1px solid #e5e7eb;
    line-height:1;
    margin-bottom:.575rem;
    padding-bottom:.5rem;
    text-align:left
}
.jvm-series-container .jvm-legend .jvm-legend-inner{
    overflow:hidden
}
.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick{
    min-width:40px;
    overflow:hidden
}
.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick:not(:first-child){
    margin-top:.575rem
}
.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick .jvm-legend-tick-sample{
    border-radius:4px;
    float:left;
    height:16px;
    margin-right:.65rem;
    width:16px
}
.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick .jvm-legend-tick-text{
    float:left;
    font-size:12px;
    text-align:center
}
.jvm-line[animation=true]{
    -webkit-animation:jvm-line-animation 10s linear infinite forwards;
    animation:jvm-line-animation 10s linear infinite forwards
}

@-webkit-keyframes jvm-line-animation{
    0%{
        stroke-dashoffset:250
    }
}
@keyframes jvm-line-animation{
    0%{
        stroke-dashoffset:250
    }
}

/* ---------------------------------------------------
    Badge
----------------------------------------------------- */
.badge{
    border-radius:.2rem;
    color:#fff;
    display:inline-block;
    font-size:80%;
    font-weight:600;
    line-height:1;
    padding:.3em .45em;
    text-align:center;
    vertical-align:baseline;
    white-space:nowrap
}
.badge:empty{
    display:none
}
.btn .badge{
    position:relative;
    top:-1px
}

/* ---------------------------------------------------
    Forms
----------------------------------------------------- */

.form-check{
    display:block;
    margin-bottom:.125rem;
    min-height:1.3125rem;
    padding-left:1.5em
}
.form-check .form-check-input{
    float:left;
    margin-left:-1.5em
}
.form-check-input{
    -webkit-print-color-adjust:exact;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:#fff;
    background-position:50%;
    background-repeat:no-repeat;
    background-size:contain;
    border:1px solid rgba(0,0,0,.25);
    color-adjust:exact;
    height:1em;
    margin-top:.25em;
    vertical-align:top;
    width:1em
}
.form-check-input[type=checkbox]{
    border-radius:.25em
}
.form-check-input[type=radio]{
    border-radius:50%
}
.form-check-input:active{
    filter:brightness(90%)
}
.form-check-input:focus{
    border-color:#9dbeee;
    box-shadow:0 0 0 .2rem rgba(59,125,221,.25);
    outline:0
}
.form-check-input:checked{
    background-color:#3b7ddd;
    border-color:#3b7ddd
}
.form-check-input:checked[type=checkbox]{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3E%3C/svg%3E")
}
.form-check-input:checked[type=radio]{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='%23fff'/%3E%3C/svg%3E")
}
.form-check-input[type=checkbox]:indeterminate{
    background-color:#3b7ddd;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3E%3C/svg%3E");
    border-color:#3b7ddd
}
.form-check-input:disabled{
    filter:none;
    opacity:.5;
    pointer-events:none
}
.form-check-input:disabled~.form-check-label,.form-check-input[disabled]~.form-check-label{
    opacity:.5
}
.form-switch{
    padding-left:2.5em
}
.form-switch .form-check-input{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E");
    background-position:0;
    border-radius:2em;
    margin-left:-2.5em;
    transition:background-position .15s ease-in-out;
    width:2em
}
@media(prefers-reduced-motion:reduce){
    .form-switch .form-check-input{
        transition:none
    }
}
.form-switch .form-check-input:focus{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%239dbeee'/%3E%3C/svg%3E")
}
.form-switch .form-check-input:checked{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
    background-position:100%
}
.form-check-inline{
    display:inline-block;
    margin-right:1rem
}
.form-check-input.is-valid,.was-validated .form-check-input:valid{
    border-color:#1cbb8c
}
.form-check-input.is-valid:checked,.was-validated .form-check-input:valid:checked{
    background-color:#1cbb8c
}
.form-check-input.is-valid:focus,.was-validated .form-check-input:valid:focus{
    box-shadow:0 0 0 .2rem rgba(28,187,140,.25)
}
.form-check-input.is-valid~.form-check-label,.was-validated .form-check-input:valid~.form-check-label{
    color:#1cbb8c
}
.form-check-inline .form-check-input~.valid-feedback{
    margin-left:.5em
}
.form-check-input.is-invalid,.was-validated .form-check-input:invalid{
    border-color:#dc3545
}
.form-check-input.is-invalid:checked,.was-validated .form-check-input:invalid:checked{
    background-color:#dc3545
}
.form-check-input.is-invalid:focus,.was-validated .form-check-input:invalid:focus{
    box-shadow:0 0 0 .2rem rgba(220,53,69,.25)
}
.form-check-input.is-invalid~.form-check-label,.was-validated .form-check-input:invalid~.form-check-label{
    color:#dc3545
}
.form-check-inline .form-check-input~.invalid-feedback{
    margin-left:.5em
}