.square {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
}

.center {
    margin: 0 auto;
}

.row-odd {
    background-color: #f2f2f2;
}

.config_alg {
    margin-bottom: 0.4rem;
}

#loader-div {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
}

#loader {
    position: absolute;
    left: 40%;
    top: 36%;
}