hr {
    border-top: 1px solid #839fad;
    margin-top: 0;
}

footer .main-footer {
    background: #3f3f3f;
}

.square {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
}

.center {
    margin: 0 auto;
}

.row-odd {
    background-color: #f2f2f2;
}

.config_alg {
    margin-bottom: 0.4rem;
}

.material-icons {
    font-size: inherit !important;
}

.row-fluid{
    white-space: nowrap;
    display: flex !important;
    align-items: flex-start !important;
    -ms-flex-align: start !important;
    display: -ms-flexbox !important;
}
.row-fluid > *{
    display: inline-block;

}

#loader-div {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
}

#loader {
    position: absolute;
    left: 40%;
    top: 36%;
}

#logos {
    background: #e0e0e0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 5px;
}