html {
    word-break: normal;
}
hr {
    border-top: 1px solid var(--light);
    margin-top: 0;
}

footer .main-footer {
    background: /*#3f3f3f*/var(--footer-color);
}

.square {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
}

.center {
    margin: 0 auto;
}

.row-odd {
    background-color: #f2f2f2;
}

.config_alg {
    margin-bottom: 0.4rem;
}

.material-icons {
    font-size: inherit !important;
}

.row-fluid{
    white-space: nowrap;
    display: flex !important;
    align-items: flex-start !important;
    -ms-flex-align: start !important;
    display: -ms-flexbox !important;
}
.row-fluid > *{
    display: inline-block;
}

/**Custom colors*/
:root {
    --footer-color:#AAA;
    --ubu-maroon:#aa223c;
    --success-even: rgb(var(--success-red),var(--success-green),var(--success-blue));
    --success-odd: rgb(var(--success-red),calc(var(--success-green)/1.051428571),calc(var(--success-blue)/1.054054054));

    --danger-even: rgb(var(--danger-red),var(--danger-green),var(--danger-blue));
    --danger-odd: rgb(calc(var(--danger-red)/1.053398058),calc(var(--danger-green)/1.050632911),calc(var(--danger-blue)/1.053333333));

}

.table-success-even {
    background-color: var(--success-even);
}

.table-success-odd {
    background-color: var(--success-odd);
}

.table-danger-even {
    background-color: var(--danger-even);
}

.table-danger-odd {
    background-color: var(--danger-odd);
}

.bootstrap-select.form-control{
    background-color: transparent !important;
}

#loader-div {
    background-color: var(--secondary);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#logos {
    background: #e0e0e0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 5px;
}

option.list-group-item{
    padding: 0.25rem 1rem !important;
}

#sel[multiple] option.list-group-item-success:checked{
    background-color: var(--success) !important;
    color: #ffffff !important;
}

#sel[multiple] option.list-group-item-primary:checked{
    background-color: var(--primary) !important;
    color: #ffffff !important;
}

#sel[multiple]  option.list-group-item-secondary:checked{
    background-color: var(--secondary) !important;
    color: #ffffff !important;
}

tr.align-middle td{
    vertical-align: middle !important;
}