:root {
    --base-spinner-size: 12rem;
    --base-spinner-div-size: calc(var(--base-spinner-size)/2);
    --spinner-top: calc(var(--base-spinner-size)/21.3333);
    --spinner-left: calc(var(--base-spinner-size)/2.2068);
    --spinner-width: calc(var(--base-spinner-size)/12.8);
    --spinner-height: calc(var(--base-spinner-size)/4.5714);
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: var(--base-spinner-size);
    height: var(--base-spinner-size);
  }
  .lds-spinner div {
    transform-origin: var(--base-spinner-div-size) var(--base-spinner-div-size);
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: var(--spinner-top);
    left: var(--spinner-left);
    width: var(--spinner-width);
    height: var(--spinner-height);
    border-radius: 20%;
    background: var(--danger);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /*Coffee*/
  .aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .steam-container {
    width: 60px;
    height: 50px;
    margin-left: 10px;
  }
  
  .coffee-container {
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .coffee-cup {
    width: 80px;
  }
  
  .squiggle-container {
    width: 10px;
    height: 30px;
    display: inline-block;
  }
  
  .squiggle-container-1 {
    transform: translateY(10px);
  }
  .squiggle-container-1 .squiggle {
    animation: move-and-fade 2.5s linear infinite;
    animation-delay: 0.2s;
    width: 10px;
  }
  @keyframes move-and-fade {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateY(-10px);
      opacity: 0;
    }
  }
  
  .squiggle-container-2 {
    transform: translateY(0px);
  }
  .squiggle-container-2 .squiggle {
    animation: move-and-fade 2.5s linear infinite;
    animation-delay: 0s;
    width: 10px;
  }
  @keyframes move-and-fade {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
  
  .squiggle-container-3 {
    transform: translateY(15px);
  }
  .squiggle-container-3 .squiggle {
    animation: move-and-fade 2.5s linear infinite;
    animation-delay: 0.4s;
    width: 10px;
  }
  @keyframes move-and-fade {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateY(-15px);
      opacity: 0;
    }
  }
  
  .squiggle {
    stroke-dasharray: 100;
  }
  .squiggle path {
    stroke: #5D5D5D;
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    50% {
      stroke-dashoffset: 500;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }